<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become Member</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/addmessage.css">
</head>
<body>
    <div class="container animation">
        <h1>Become Member</h1>
        <p>Enter the secret code to become a member.</p>
        <form action="/Become-Member" method="post" class="becomemMEMBER">
            <input type="text" name="secretCode" class="secretInput">
            <button class="submit becomeMemberBtn" type="submit">Become Member</button>
        </form>
    </div>
</body>
</html>