<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="icon" href="./logo" type="image/icon type">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="container animation">
        <h1>Welcome to a place designed exclusively for our members—your journey begins here</h1>
        <div class="btnContainer">
            <a href="./sign-up">Sign Up</a>
            <a href="./log-in" class="login">Log In</a>
        </div>
    </div>
</body>
</html>