.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

form{ 
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.textarea{
    background-color: white;
    height: 300px;
    width: 500px;
    resize: none;
    outline: none;
    border: none;
}

.btnContainer{
    display: flex;
    gap: 20px;
    align-self: flex-end;
}

button, .goBack{
    width: 130px;
    height: 35px;
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #146C94;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.goBack{
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #146C94;
    color: #146C94;
}

.becomeMemberBtn, .becomeMemberLink{
    width: 50% !important;
    height: 40px;
}

.btnContainerMember{
    width: 100% !important;
}

.becomemMEMBER{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    height: 30px;
    padding: 10px;
}

@media only screen and (max-width: 1200px) { /* Tablet */ 
    .textarea{
        width: 700px;
        height: 500px;
    }

    .becomemMEMBER{
        width: 600px;
    }
}

@media only screen and (max-width: 600px) { /* Phone */ 
    .becomemMEMBER{
        max-width: 300px;
    }

    .textarea{
        max-width: 300px;
        max-height: 200px;
    }
}
